<div *ngIf="relation">
  <div *ngIf="userService.getLoggedInUserId() != user.id">
    <!-- This div is for the buttons for the relationship-button component. Needs to be integrated into userprofile -->
 <!--
    <button *ngIf="relation.status == -1" (click)="createRelationship(0)">Send friend request</button>
    <button *ngIf="(relation.status == 0) && (relation.actionUserID == userService.getLoggedInUserId())">Request pending</button>
    <button *ngIf="(relation.status == 0) && (relation.actionUserID != userService.getLoggedInUserId())" (click)="createRelationship(1)">Accept request</button>
    <button *ngIf="relation.status == 1">You are friends!</button>
    <button *ngIf="relation.status == 1" (click)="createRelationship(3)" >Remove friend</button>
    <button *ngIf="relation.status != 2" (click)="createRelationship(2)" style="background-color: black"><i class="fa fa-ban" style="color: white"></i></button>
  -->


    <div class="w3-row w3-opacity" *ngIf="(relation.status == -1) && (user.id != userService.getLoggedInUserId())">
        <div class="w3-half">
          <button *ngIf="(relation.status == -1) && (user.id != userService.getLoggedInUserId())" (click)="createRelationship(0)" class="w3-button w3-block w3-green w3-section" title="Add"><i class="fa fa-user-plus"></i></button>
        </div>
        <div class="w3-half">
          <button class="w3-button w3-block w3-black w3-section" title="Block" (click)="createRelationship(2)"><i class="fa fa-ban"></i></button>
        </div>
      </div>

    <div class="w3-row w3-opacity" *ngIf="(relation.status == 0) && (relation.actionUserID == userService.getLoggedInUserId())">
        <div class="w3-third">
          <button class="w3-button w3-block w3-green w3-section" disabled title="Pending">
            <i class="fa fa-spinner"></i>
          </button>

        </div>
        <div class="w3-third">
          <button class="w3-button w3-block w3-red w3-section" (click)="createRelationship(3)" title="Cancel">
            <i class="fa fa-undo"></i>
          </button>
        </div>

        <div class="w3-third">
          <button class="w3-button w3-block w3-black w3-section" (click)="createRelationship(2)" title="Block">
            <i class="fa fa-ban"></i>
          </button>
        </div>
      </div>

    <div class="w3-row w3-opacity" *ngIf="(relation.status == 0) && (relation.actionUserID != userService.getLoggedInUserId())">
        <div class="w3-third">
          <button class="w3-button w3-block w3-green w3-section" title="Accept" (click)="createRelationship(1)">
            <i class="fa fa-check"></i>
          </button>

        </div>
        <div class="w3-third">
          <button class="w3-button w3-block w3-red w3-section" (click)="createRelationship(3)" title="Decline">
            <i class="fa fa-remove"></i>
          </button>
        </div>

        <div class="w3-third">
          <button class="w3-button w3-block w3-black w3-section" (click)="createRelationship(2)" title="Block">
            <i class="fa fa-ban"></i>
          </button>
        </div>
      </div>

    <div class="w3-row w3-opacity" *ngIf="relation.status == 1">
      <div class="w3-third">
        <button class="w3-button w3-block w3-blue w3-section" disabled title="Friends!">
          <i class="fa fa-check"></i>
        </button>
      </div>
      <div class="w3-third">
        <button class="w3-button w3-block w3-red w3-section" title="Remove" (click)="createRelationship(3)">
          <i class="fa fa-remove"></i>
        </button>
      </div>
      <div class="w3-third">
        <button class="w3-button w3-block w3-black w3-section" title="Block" (click)="createRelationship(2)">
          <i class="fa fa-ban"></i>
        </button>
      </div>
    </div>

    <div class="w3-row w3-opacity" *ngIf="(relation.status == 2) && (relation.actionUserID == userService.getLoggedInUserId())">
      <div class="w3-rest">
        <button class="w3-button w3-block w3-black w3-section" title="Unblock" (click)="createRelationship(3)">
          <i class="fa fa-undo"></i>
        </button>
      </div>
    </div>

  </div>
</div>
