<ng-container *ngIf="user">
  <div class="w3-cell w3-cell-top w3-card-4 w3-round-small w3-container" style="color: #324148">

    <!--NAME-->
    <ng-container [ngSwitch]="onEdit">
      <ng-container *ngSwitchCase="false">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <h2 style="display: flex;">
          <input [(ngModel)]="user.firstName" class="w3-input" style="display: inline-block">
          <input [(ngModel)]="user.lastName" class="w3-input" style="display: inline-block">
        </h2>
      </ng-container>
    </ng-container>
    <!---->
    <!--IMAGE-->
    <ng-container [ngSwitch]="onImageUpload">

      <ng-container *ngSwitchCase="false">
        <div *ngIf="editable" style="position: relative" class="w3-right">
          <button class="w3-button w3-theme-l1" (click)="onImageUpload = true">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <img src="{{imageURL}}/{{id}}" style="width:100%; margin-top: -40px">
      </ng-container>

      <ng-container *ngSwitchCase="true">
        <p style="position: relative;top: 50px;right: 16px" class="w3-right">
          <button class="w3-button w3-theme-l1" (click)="onImageUpload = false">
            <i class="fa fa-undo" aria-hidden="true"></i>
          </button>
        </p>

        <input type="file" class="btn-default" id="image" accept="image/*">
        <button class="w3-button w3-theme" (click)="uploadImage()">Upload</button>
      </ng-container>
    </ng-container>
    <!---->

    <!--OTHER DATA-->
    <div class="w3-display-container w3-padding w3-center li-height"
         style="width: 100%; min-width: 591px; padding: 0; margin: 0" [ngStyle]="{'height.px':onEdit?380:250}">

      <!--INFORMATION LABELS-->

      <div class="w3-display-left w3-center"
           style="border-right: solid #9eb1bb; opacity: 0.3; padding-left: 20px">
        <ul class="w3-ul" style=" text-align: left">
          <li><p>Email address</p></li>
          <li><p>Birth year</p></li>
          <li><p>Address</p></li>
          <li><p>Phone</p></li>
          <ng-container *ngIf="onEdit">
            <li><p>Password</p></li>
            <li><p>Password again</p></li>
          </ng-container>
        </ul>

      </div>
      <ng-container [ngSwitch]="onEdit">
        <!--NON EDIT VIEW-->
        <ng-container *ngSwitchCase="false">
          <div class="w3-display-middle" style=" text-align: left">
            <ul class="w3-ul">
              <li><p>{{user.email}}</p></li>
              <li><p>{{user.birthDate}}</p></li>
              <li><p>{{user.address}} {{user.city}}</p></li>
              <li><p>{{user.phone}}</p></li>
            </ul>
          </div>

          <div *ngIf="editable" class="w3-display-topright w3-margin">
            <button class="w3-button w3-theme-l1" (click)="edit()"><i class="fa fa-pencil"></i></button>
          </div>

        </ng-container>

        <ng-container *ngSwitchCase="true">

          <!--EDIT VIEW-->

          <div class="w3-display-middle" style=" text-align: left">
            <ul class="w3-ul">
              <li><input [(ngModel)]="user.email" class="w3-input" disabled></li>
              <li><input [(ngModel)]="user.birthDate" class="w3-input"></li>
              <li style="display: flex;">
                <input [(ngModel)]="user.address" class="w3-input" style="display: inline-block">
                <input [(ngModel)]="user.city" class="w3-input" style="display: inline-block">
              </li>
              <li><input [(ngModel)]="user.phone" class="w3-input"></li>
              <li><input [(ngModel)]="user.password" class="w3-input" type="password"
                         placeholder="Enter your password to save the changes"></li>
              <li><input [(ngModel)]="pwAgain" class="w3-input" type="password"></li>
            </ul>
          </div>

          <div class="w3-display-topright w3-margin">
            <button class="w3-button w3-theme-l1" (click)="save()">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button class="w3-button w3-theme-l1" (click)="revert()">
              <i class="fa fa-undo" aria-hidden="true"></i>
            </button>
          </div>

        </ng-container>

      </ng-container>
      <p *ngIf="onEdit">{{feedbackMessage}}</p>
    </div>
  </div>


  <!--</div>-->
  <div align="center" style="padding: 30px" *ngFor="let post of posts">
    <app-profile-page-post [post]="post"></app-profile-page-post>
  </div>
  <br>
  <div *ngIf="user.id == userService.getLoggedInUserId()" align="center">

    <app-new-user-post></app-new-user-post>
  </div>
  <!--</div>-->

</ng-container>
