<div *ngIf="user">
  <div style="max-width:550px;" class="container containerColor" align="center">
    <img width="500" style="padding-top: 50px" src="{{imageURL}}/{{id}}">
    <div *ngIf="user.id == userService.getLoggedInUserId()">
      <input type="file" class="btn-default" id="image">
      <button class="btn btn-default" (click)="imageService.uploadProfileImage()">kügyed</button>
    </div>

    <div *ngIf="onEdit; else noEdit" style="max-width: 400px; min-width: 175px; margin-bottom:25px;text-align: center"
         class="containerColor" align="center">
      <div style="alignment: center" align="center">
        <p *ngIf="feedbackMessage">{{feedbackMessage}}</p>
        <ul style="max-width: 425px;list-style-type:none;margin-right: 25px">
          <li>
            <div class="input-group">
              <input id="pw" class="form-control" type="password" [(ngModel)]="user.password"
                     placeholder="Password*"><span
              class="input-group-addon">*</span>
            </div>
          </li>
          <li>
            <div class="input-group">
              <input id="pwagain" class="form-control" type="password" [(ngModel)]="pwAgain"
                     placeholder="Password again*"><span class="input-group-addon">*</span>
            </div>
          </li>
          <li>
            <div class="input-group">
              <input id="yearofbirth" class="form-control" name="firstName" type="number" [(ngModel)]="user.birthDate"
                     placeholder="Year of birth*"><span class="input-group-addon">*</span>
            </div>
          </li>
        </ul>

        <input id="firstName" style="max-width: 350px" class="form-control" name="firstName"
               [(ngModel)]="user.firstName"
               placeholder="First Name">
        <input id="lastName" style="max-width: 350px" class="form-control" name="lastName" [(ngModel)]="user.lastName"
               placeholder="Last Name">

        <input id="address" style="max-width: 350px" class="form-control" name="address" [(ngModel)]="user.address"
               placeholder="Address">
        <input id="city" style="max-width: 350px" class="form-control" name="city" [(ngModel)]="user.city"
               placeholder="City">

        <input id="phone" style="max-width: 350px" class="form-control" name="phone" [(ngModel)]="user.phone"
               placeholder="Phone Number">

        <button type="submit" style="margin-bottom: 25px;margin-top: 20px;" class="btn btn-default" (click)="save()">
          Save
        </button>
        <br>
        <button type="submit" style="margin-bottom: 25px;margin-top: 20px;" class="btn btn-default" (click)="revert()">
          Cancel
        </button>
      </div>
    </div>

    <ng-template #noEdit>
      <div style="alignment: center" align="center" *ngIf="user">
        <div style="font-size: 20px;font-style: oblique">
        {{user.firstName}} {{user.lastName}}</div>
        <hr>
        <br>
        E-mail and DoB:
        <div>{{user.email}} {{user.birthDate}}</div>
        <br>
        Address and City:
        <div>{{user.address}} {{user.city}}</div>
        <br>
        Phone numbah:
        {{user.phone}}
        <button *ngIf="user.id == userService.getLoggedInUserId()" class="btn btn-default" (click)="edit()">edit
        </button>
      </div>
    </ng-template>


  </div>
  <div align="center" style="padding: 30px" *ngFor="let post of posts">
    <app-profile-page-post [post]="post"></app-profile-page-post>
  </div>
</div>
