<app-nav-bar></app-nav-bar>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1080px;padding-top:80px">
  <!-- Middle Column -->
  <div class="w3-content m7 w3-text-theme w3-cell-middle" style="width: 80%; min-width: 400px; font-size: 120%">

    <router-outlet></router-outlet>

    <!-- End Middle Column -->
  </div>
  <!-- End Page Container -->
</div>
<br>
<!--
<div id="footerElement">
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p style="color: #ecffec">$teamName© 2017 - All Rights reserved</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="#">127.0.0.1</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->
