<div class="containerColor" align="center" style="max-width: 550px;padding: 15px">
  <div *ngIf="onEdit; else noEdit">
    <input class="form-control" [(ngModel)]="post.title" placeholder="Title"/>
    <br>
    <textarea class="form-control" [(ngModel)]="post.content" placeholder="Content"></textarea>
    <br>
    <button class="btn btn-default" (click)="revert()">Cancel</button>
    <button class="btn btn-default" (click)="save()">Save</button>
  </div>

  <ng-template #noEdit>
    <div>
      <p>{{post.title}}</p>
      <p>{{post.content}}</p>
      <button *ngIf="post.ownerID == userService.getLoggedInUserId()" class="btn btn-default" (click)="edit()">Edit</button>
    </div>
  </ng-template>

  <div *ngIf="message">{{message}}</div>
</div>
