<!--<div style="text-align: center">-->
<div style="max-width: 400px; min-width: 175px;text-align: center;margin-bottom:250px" class="container">
  <div id="loginElement">
    <div id="goAway">
      <h1>
        Welcome to
      </h1>
      <img class="swimLogo" src="/assets/facecodelogo.png">
    </div>

    <!--<div style="margin-top: 25px;margin-bottom: 25px;" align="center" class="containerColor loginPanel w3-margin">-->
    <div class="w3-card w3-round w3-theme-l3 w3-margin w3-padding">
      <div class="w3-container w3-padding-large">
        <!--<h1 style="margin-bottom: 25px;margin-top: 25px">Login</h1>-->

        <div *ngIf="this.feedbackMessage">{{this.feedbackMessage}}</div>

        <input id="email" class="w3-input w3-border ng-untouched ng-pristine ng-valid" name="email" type="email"
               [(ngModel)]="email" placeholder="Email address">
        <br>
        <input id="password" class="w3-input w3-border ng-untouched ng-pristine ng-valid" type="password"
               [(ngModel)]="password"
               placeholder="Password">
        <br>
        <button type="button" class="w3-button w3-theme w3-margin" (click)="logIn()">
          Login
        </button>
          <div><a  href="">Forgot your password? Click here!</a></div>
          <div><a routerLink="/reg" routerLinkActive="active">Don't have an account?<br>
            Click here to register!</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div id="footerElement">
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p style="color: #ecffec">$teamName© 2017 - All Rights reserved</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="#">127.0.0.1</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


