<div style="max-width: 400px; min-width: 175px" align="center">
  <div align="center" style="margin-top: 25px;margin-bottom: 25px;" class="containerColor">
    <h1 style="margin-bottom: 25px;margin-top: 25px">Log in</h1>

    <div *ngIf="this.exceptionMessage">{{this.exceptionMessage}}</div>

    <input id="email" style="margin-top:50px;max-width: 350px" class="form-control" name="email" type="email" [(ngModel)]="email" placeholder="Email address">
    <br>
    <input id="password" style="max-width: 350px" class="form-control" type="password" [(ngModel)]="password" placeholder="Password">
    <br>
    <button type="button" style="margin-bottom: 50px;margin-top: 20px;" class="btn btn-primary" (click)="logIn()">Log in</button>
    <div><a routerLink="/reg" routerLinkActive="active">Don't have an account? Click here to register!</a>
  </div>
  </div>

</div>
