<div style="max-width: 400px; min-width: 175px; margin-bottom: 50px" class="containerColor" align="center">
  <h1>User search</h1>
<div>
  <div style="max-width: 300px; min-width: 175px" align="center">
    <input id="firstName" class="form-control" name="firstName" type="text" [(ngModel)]="firstName" placeholder="First name">
    <input id="lastName" class="form-control" name="lastName" type="text" [(ngModel)]="lastName" placeholder="Last name">
    <input id="age" class="form-control" name="age" type="number" [(ngModel)]="age" placeholder="Age">
    <br>

    <select name="relation" [(ngModel)]="relation">
      <option value="0">Friends</option>
      <option value="1">Friends and strangers</option>
      <option value="2">Strangers</option>
      <option value="3">Blocked</option>
    </select>

    <br>

    <select name="gender" [(ngModel)]="gender">
      <option value="">Any Gender</option>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select>

    <br>
    <button style="margin: 15px" type="button" class="btn btn-primary" (click)="get()">
     Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>

  <div *ngIf="this.exceptionMessage">{{this.exceptionMessage}}</div>

  <div *ngFor="let user of users">
    <app-compact-user-viev [user]="user"></app-compact-user-viev>
  </div>

</div>
</div>
