<div style="max-width: 300px; min-width: 175px" align="center">
  <h1>User search</h1>

  <input id="firstName" name="firstName" type="text" [(ngModel)]="firstName" placeholder="First name">
  <input id="lastName" name="lastName" type="text" [(ngModel)]="lastName" placeholder="Last name">
  <input id="age" name="age" type="number" [(ngModel)]="age" placeholder="Age">
  <br>


  <select name="relation" [(ngModel)]="relation">
    <option value="0">Friends</option>
    <option value="1">Friends and strangers</option>
    <option value="2">Strangers</option>
    <option value="3">Blocked</option>
  </select>

  <br>

  <select name="gender" [(ngModel)]="gender">
    <option value="">Any Gender</option>
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
  </select>

  <br>
  <button type="button" (click)="get()">Search</button>

  <div *ngIf="this.exceptionMessage">{{this.exceptionMessage}}</div>

  <div *ngFor="let user of users">
    <p>{{user.firstName}} {{user.lastName}}  birth year: {{user.birthDate}}  city: {{user.city}}</p>
  </div>

</div>

