<div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
  <img src="/w3images/avatar6.png" alt="leendő profilkép" class="w3-left w3-circle w3-margin-right" style="width:60px">
  <span class="w3-right w3-opacity">{{post.postedOn}}</span>
  <h4>{{userName}}</h4><br>
  <hr class="w3-clear">
  <p>{{post.title}}</p>
  <ng-container [ngSwitch]="post.type">

    <p *ngSwitchCase="'TEXT'">{{post.content}}</p>

    <img *ngSwitchCase="'IMAGE'" src="{{post.content}}" style="width:100%" class="w3-margin-bottom">

    <video *ngSwitchCase="'VIDEO'" style="width: 70%; max-width: 1000px" controls src="{{post.content}}"></video>

  </ng-container>

</div>
